.header 
{
    padding: 1px;
    text-align: center;
    background: orange;
    color: white;
}
.img1 
{
    float: center;
    width: 50%;
    border-radius: 50%;
    border: 3.5px orange dashed;
    margin-top: 10px;
}
.img2 
{
    border-radius: 8px;
}
ul 
{
    float: center;
    font-size: 3vw;
}
ul li 
{
    text-align: left;
}
h1
{
    font-size: 10vw;
}
h2 
{
    text-align: center;
    font-weight: 700;
    background-color: orange;
    /* Orange */
    color: white;
    border-radius: 8px;
}
p 
{
    font-size: 23px;
}
.p1 
{
    font-size: 3.5vw;
    text-align: left;
}
.p2
{
    text-align: center; 
    font-size: 3vw; 
    font-weight: bold;
    color: whitesmoke;
    margin-top: 10px;
}
.bg-1
{
    background-color: #FFDEAD;
}
.bg-2
{
    background-color: #FFF5EE;
}
.bg-3
{
    background-color: #E35335;
}
.bg-4 
{
    background-color: orangered;
    color: white;
}
.column 
{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after 
{
    clear: both;
    display: table;
}
video 
{
    float: center;
    border-radius: 8px;
}